/vendor/
/build
composer.lock
.phpunit.cache
.phpunit.result.cache
/coverage/
.phpstan.cache
.php-cs-fixer.cache
.idea/
.vscode/
.DS_Store
Thumbs.db
/tests/temp/

_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
/.idea
/.fleet
/.vscode

phpunit.xml
phpstan.neon
testbench.yaml
/docs
/rector-reports
