name: Code Style

on:
  push:
    paths:
      - '**.php'
  pull_request:
    paths:
      - '**.php'

jobs:
  php-code-styling:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}

      - name: Check code style
        uses: aglipanci/laravel-pint-action@2.6
        with:
          preset: laravel
          verboseMode: true
          testMode: true
          onlyDiff: "master"
